

body, html{
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: red;
    background-image: url(../images/trapmusic.jpg);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;   
}
  

a{

    color: blue;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
a:visited{
    color: blue;
}


body, html, #category, #category1, #lyrics, #introPage, #introText, #sp, #singlePage, #wordWrap, #wordWrap div, #gamePage, #letterBank div{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#introPage{
    display: block;
    height: 200px;
    width: 850px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin:10px auto;
}
    #introText{
        width: 850px;
/*        height: 260px;  */
        margin: 10px auto;
        font-size: 100px;
        font-weight: bold;
        text-align: center;
        margin: 0 auto 20px auto;
    }

    #buttonContainer{
        width: 262px;
        height: 75px;
        margin: 50px auto;
    }

    #sp{
        font-size: 35px;
        width: 250px;
        height: 75px;
        float: right;
        line-height: 75px;
        text-align: center;
        color: white;
        background-color: #00006c;
        border-radius: 25px;
        cursor: pointer;
    }

    
#homeHangman, #hangman{
    display: block;
    margin: 50px auto 0px auto;
    border: 1px solid black;
}

#singlePage{
    display: none;
    height: 560px;
    width: 800px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
    #singlePage p{
        font-size: 70px;
        margin: 100px auto 40px auto;
        text-align: center;
    }
    #categoryHolder{
        width: 100%;
        height: 335px;
    }    
    #category{
        width: 700px;
        height: 335px;
        margin: 0 auto;
    }    
    #category1{
        float: left;
        width: 700px;
        height: 150px;
        margin-bottom: 30px;
    }
       
    #lyrics{
        float: left;
        width: 20%;
        height: 50%;
        font-size: 30px;
        line-height: 65px;
        text-align: center;
        border: 1px solid black;
        cursor: pointer;
        background-color: orange;
        color: red;
    }

    
    
    #input{
        font-family: sans-serif;
        display: block;
        margin: 0px auto;
        padding: 10px;
        font-size: 25px;
    }
    
    

	#gamePage{
	    display: none;
	    text-align: center;
	}

    #categoryName{
        width: 100%;
        margin: 20px auto 0px auto;
        font-size: 75px;
    }  

    #wordWrap{
        display: inline-block;
        width: 970px;
        margin: 0 auto;
        padding: 10px;
    }

    #letter1, #letter2, #letter3, #letter4, #letter5, #letter6, #letter7, #letter8, #letter9, #letter10, #letter11, #letter12, #letter13, #letter14, #letter15, #letter16, #letter17, #letter18, #letter19, #letter20, #letter21, #letter22, #letter23, #letter24, #letter25, #letter26, #letter27, #letter28, #letter29, #letter30, #letter31, #letter32, #letter33, #letter34, #letter35, #letter36, #letter37, #letter38, #letter39, #letter40, #letter41, #letter42, #letter43, #letter44, #letter45, #letter46, #letter47, #letter48, #letter49, #letter50, #letter51, #letter52, #letter53, #letter54, #letter55, #letter56, #letter57, #letter58, #letter59, #letter60, #letter61, #letter62, #letter63, #letter64, #letter65, #letter66, #letter67, #letter68, #letter69, #letter70, #letter71, #letter72, #letter73, #letter74, #letter75, #letter76, #letter77, #letter78, #letter79, #letter80, #letter81, #letter82, #letter83, #letter84, #letter85, #letter86, #letter87, #letter88, #letter89, #letter90, #letter91, #letter92, #letter93, #letter94, #letter95, #letter96, #letter97, #letter98, #letter99, #letter100{
        font-family: 'Gloria Hallelujah', arial;
        width: 40px;
        height: 50px;
        margin-bottom: 40px;
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        line-height: 50px;
        color: yellow;
    }

    #underline1, #underline2, #underline3, #underline4, #underline5, #underline6, #underline7, #underline8, #underline9, #underline10, #underline11, #underline12, #underline13, #underline14, #underline15, #underline16, #underline17, #underline18, #underline19, #underline20, #underline21, #underline22, #underline23, #underline24, #underline25, #underline26, #underline27, #underline28, #underline29, #underline30, #underline31, #underline32, #underline33, #underline34, #underline35, #underline36, #underline37, #underline38, #underline39, #underline40, #underline41, #underline42, #underline43, #underline44, #underline45, #underline46, #underline47, #underline48, #underline49, #underline50, #underline51, #underline52, #underline53, #underline54, #underline55, #underline56, #underline57, #underline58, #underline59, #underline60, #underline61, #underline62, #underline63, #underline64, #underline65, #underline66, #underline67, #underline68, #underline69, #underline70, #underline71, #underline72, #underline73, #underline74, #underline75, #underline76, #underline77, #underline78, #underline79, #underline80, #underline81, #underline82, #underline83, #underline84, #underline85, #underline86, #underline87, #underline88, #underline89, #underline90, #underline91, #underline92, #underline93, #underline94, #underline95, #underline96, #underline97, #underline98, #underline99, #underline100{
        display: none;
        float: left;
        width: 50px;
        height: 60px;
        margin-right: 5px;
    }

    #letterBank{
        width: 780px;
        height: 125px;
        margin: 20px auto;
        font-size: 50px;
        line-height: 60px;
        text-align: center;
        -webkit-user-select: none;        
        -moz-user-select: none;
        -ms-user-select: none;
    }

    #letterBank div{
        float: left;
        width: 50px;
        height: 58px;
        margin: 0px 10px 10px 0px;
        cursor: pointer;
        background-color: #adadad;
    }

    #letterBank div:hover{
        background-color: #797979;
    }

    #letterBank div:active{
        background-color: gray;
        width: 50px;
        font-size: 45px;
        padding-top: 3px;
    }

    #results{
        margin-top: 5px;
        height: 70px;
        visibility: hidden;
        line-height: 70px;       
    }

 	#home{
        display: none;
        width: 50%;
        height: 65px;
        margin: 0px auto 20px auto;
        font-size: 35px;
        line-height: 65px;
        text-align: center;
        color: white;
        background-color: #00006c;
        border-radius: 25px;
        cursor: pointer;
        margin-top: 0px;
    }
    
    


@media (max-width: 768px){
    	#introPage, #singlePage{
        width: 500px;
        height: 500px;
    	}
        #introText{
            width: 500px;
            height: 85px;
        }
        #introText p{
            font-size: 55px;
            margin: 10px auto;
        }
        #buttonContainer{
            width: 184px;
            height: 60px;
            margin: 20px auto;
        }
        #sp{
            font-size: 25px;
            width: 175px;
            height: 60px;
            line-height: 60px;
        }
        
        
        #homeHangman{
            margin: 100px auto 0 auto;
        }
    	#singlePage{
        height: 345px;
    	}
        #singlePage p{
            font-size: 30px;
            margin: 40px auto 20px auto;
        }
        #categoryHolder{
            height: 180px;
        }    
        #category{
            width: 100%;
            height: 180px;
        }    
        #category1{
            width: 100%;
            height: 80px;
            margin-bottom: 20px;
        }
        
        
        div#lyrics{
            font-size: 20px;
            line-height: 40px;
            width: 98px
            height: 38px;
        }
        
        
        
        #input{
            font-size: 20px;
        }
        
        
    	
        #categoryName{
            margin: 0 auto;
            font-size: 30px;
        }  

        #wordWrap{
            display: inline-block;
            width: 470px;
            margin: 0 auto;
            padding: 0px;
        }

        #letter1, #letter2, #letter3, #letter4, #letter5, #letter6, #letter7, #letter8, #letter9, #letter10, #letter11, #letter12, #letter13, #letter14, #letter15, #letter16, #letter17, #letter18, #letter19, #letter20, #letter21, #letter22, #letter23, #letter24, #letter25, #letter26, #letter27, #letter28, #letter29, #letter30, #letter31, #letter32, #letter33, #letter34, #letter35, #letter36, #letter37, #letter38, #letter39, #letter40, #letter41, #letter42, #letter43, #letter44, #letter45, #letter46, #letter47, #letter48, #letter49, #letter50, #letter51, #letter52, #letter53, #letter54, #letter55, #letter56, #letter57, #letter58, #letter59, #letter60, #letter61, #letter62, #letter63, #letter64, #letter65, #letter66, #letter67, #letter68, #letter69, #letter70, #letter71, #letter72, #letter73, #letter74, #letter75, #letter76, #letter77, #letter78, #letter79, #letter80, #letter81, #letter82, #letter83, #letter84, #letter85, #letter86, #letter87, #letter88, #letter89, #letter90, #letter91, #letter92, #letter93, #letter94, #letter95, #letter96, #letter97, #letter98, #letter99, #letter100{
            width: 28px;
            height: 45px;
            font-size: 30px;
            line-height: 45px;
        }

        #underline1, #underline2, #underline3, #underline4, #underline5, #underline6, #underline7, #underline8, #underline9, #underline10, #underline11, #underline12, #underline13, #underline14, #underline15, #underline16, #underline17, #underline18, #underline19, #underline20, #underline21, #underline22, #underline23, #underline24, #underline25, #underline26, #underline27, #underline28, #underline29, #underline30, #underline31, #underline32, #underline33, #underline34, #underline35, #underline36, #underline37, #underline38, #underline39, #underline40, #underline41, #underline42, #underline43, #underline44, #underline45, #underline46, #underline47, #underline48, #underline49, #underline50, #underline51, #underline52, #underline53, #underline54, #underline55, #underline56, #underline57, #underline58, #underline59, #underline60, #underline61, #underline62, #underline63, #underline64, #underline65, #underline66, #underline67, #underline68, #underline69, #underline70, #underline71, #underline72, #underline73, #underline74, #underline75, #underline76, #underline77, #underline78, #underline79, #underline80, #underline81, #underline82, #underline83, #underline84, #underline85, #underline86, #underline87, #underline88, #underline89, #underline90, #underline91, #underline92, #underline93, #underline94, #underline95, #underline96, #underline97, #underline98, #underline99, #underline100{
            width: 28px;
            height: 45px;
            margin-right: 3px;
            color: orange;
        }

        #hangman{
            margin: 20px auto 0 auto;
            width: 250px;
            height: 250px;
        
        }

        #letterBank{
            width: 430px;
            height: 145px;
            margin: 10px auto;
            font-size: 35px;
            line-height: 45px;
        }

        #letterBank div{
            width: 44px;
            height: 44px;
            margin: 0px 3.5px 5px 0px;
        }
        #letterBank div:active{
            width: 44px;
            font-size: 27px;
            padding-top: 0px;
            padding-bottom: 3px;
        }
        #results{
            margin-top: 5px;
            height: 50px;
            visibility: hidden;
            line-height: 70px;
        }
        #again, #home{
            display: none;
            width: 50%;
            height: 65px;
            margin: 20px auto 20px auto;
            font-size: 35px;
            line-height: 65px;
            text-align: center;
            color: white;
            background-color: #00006c;
            border-radius: 25px;
            cursor: pointer;
        }

        #home{
            margin-top: 0px;
        }
       



@media (max-width: 480px){
    	#introPage, #singlePage{
        height: 100%;
        width: 100%;
        min-width: 365px;
    	}
    
        #introText{
            width: 100%;
        }
        #introText p{
            font-size: 55px;
        }
        #buttonContainer{
            width: 35%;
            height: 50px;
        }
        #sp{
            font-size: 20px;
            width: 140px;
            height: 50px;
            line-height: 50px;
        }
        
        
        #homeHangman{
            margin: 70px auto 20px auto;
            width: 200px;
            height: 200px;	


        }
    	#singlePage{
        height: 320px;
    	}
        #categoryHolder{
            margin: 0 auto;
            width: 90%;
            height: 180px;
        }  
        #singlePage p{
            font-size: 40px;
        }
      
        
        #input{
            padding: 5px;
            font-size: 15px;
        }
        
        
    	#gamePage{
        min-width: 365px;
    	}

        #categoryName{
            font-size: 35px;
        }    

        #wordWrap{
            width: 320px;
            margin-top: 10px;
            padding: 0px;
        }

        #letter1, #letter2, #letter3, #letter4, #letter5, #letter6, #letter7, #letter8, #letter9, #letter10, #letter11, #letter12, #letter13, #letter14, #letter15, #letter16, #letter17, #letter18, #letter19, #letter20, #letter21, #letter22, #letter23, #letter24, #letter25, #letter26, #letter27, #letter28, #letter29, #letter30, #letter31, #letter32, #letter33, #letter34, #letter35, #letter36, #letter37, #letter38, #letter39, #letter40, #letter41, #letter42, #letter43, #letter44, #letter45, #letter46, #letter47, #letter48, #letter49, #letter50, #letter51, #letter52, #letter53, #letter54, #letter55, #letter56, #letter57, #letter58, #letter59, #letter60, #letter61, #letter62, #letter63, #letter64, #letter65, #letter66, #letter67, #letter68, #letter69, #letter70, #letter71, #letter72, #letter73, #letter74, #letter75, #letter76, #letter77, #letter78, #letter79, #letter80, #letter81, #letter82, #letter83, #letter84, #letter85, #letter86, #letter87, #letter88, #letter89, #letter90, #letter91, #letter92, #letter93, #letter94, #letter95, #letter96, #letter97, #letter98, #letter99, #letter100{
            width: 18px;
            height: 30px;
            margin-bottom: 15px;
            text-align: center;
            font-size: 18px;
            line-height: 30px;
        }

        #underline1, #underline2, #underline3, #underline4, #underline5, #underline6, #underline7, #underline8, #underline9, #underline10, #underline11, #underline12, #underline13, #underline14, #underline15, #underline16, #underline17, #underline18, #underline19, #underline20, #underline21, #underline22, #underline23, #underline24, #underline25, #underline26, #underline27, #underline28, #underline29, #underline30, #underline31, #underline32, #underline33, #underline34, #underline35, #underline36, #underline37, #underline38, #underline39, #underline40, #underline41, #underline42, #underline43, #underline44, #underline45, #underline46, #underline47, #underline48, #underline49, #underline50, #underline51, #underline52, #underline53, #underline54, #underline55, #underline56, #underline57, #underline58, #underline59, #underline60, #underline61, #underline62, #underline63, #underline64, #underline65, #underline66, #underline67, #underline68, #underline69, #underline70, #underline71, #underline72, #underline73, #underline74, #underline75, #underline76, #underline77, #underline78, #underline79, #underline80, #underline81, #underline82, #underline83, #underline84, #underline85, #underline86, #underline87, #underline88, #underline89, #underline90, #underline91, #underline92, #underline93, #underline94, #underline95, #underline96, #underline97, #underline98, #underline99, #underline100{
            width: 15px;
            height: 25px;
            margin-right: 3px;
            color: white;
        }

        #letterBank{
            width: 310px;
            height: 170px;
            font-size: 30px;
            line-height: 40px;
        }
        #letterBank div{
            width: 36px;
            height: 36px;
            margin: 0px 3px 3px 0px;
        }
        #letterBank div:active{
            width: 41px;
            font-size: 25px;
            padding-top: 0px;
            padding-bottom: 3px;
        }
        #results{
            margin-top: 5px;
            height: 5px;
        }
        #again, #home{
            width: 250px;
            height: 45px;
            margin: 10px auto;
            font-size: 26px;
            line-height: 45px;
        }
        
}


